@font-face {
    font-family: 'Minecraft';
    src: url('assets/minecraft.ttf') format('truetype');
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('assets/BackgroundTile.png');
    background-size: 480px 480px;
    background-position: 100px 160px;
    image-rendering: pixelated;
    font-size: 12px;
    color: white;
}

body, select, button {
    font-family: 'Minecraft', sans-serif;
}

select {
    background: #181818;
    border: none;
    width: 100%;
    height: 20px;
    font-size: 12px;
    text-align: center;
    display: block;
    color: white;
    margin-bottom: 24px;
}

header, footer {
    height: 5vh;
    background-color: #2a3030;
    color: white;
    font-size: 24px;
    text-align: center;
}

header {
    line-height: 5vh;
}

#container {
    height: 90vh;
}

#sidebar {
    display: flex;
    height: inherit;
    width: 25%;
    position: absolute;
    background-color: #313737;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 6px;
}

#reactorGeneral {
    padding-left: 8px;
}

canvas {
    height: 100%;
    width: 75%;
    display: block;
    float: right;
}

h1, h2 {
    text-align: center;
}

#sidebar > div {
    width: 100%;
    box-sizing: border-box;
    border: #444949 4px solid;
}

input[type=radio] {
    width: 0;
    height: 0;
    display: none;
}

input[type=radio] + label {
    background-repeat: no-repeat;
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    display: inline-block;
}

input[type=radio] + label:hover {
    scale: 1.1;
}

input[type=radio]:checked + label {
    scale: 1.2;
    border: white 2px solid;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%; 
    height: 100%; 
    background: transparent; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    margin: 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 10px; 
    height: 20px;
    background: #7c7c7c;
    cursor: pointer; 
}

input[type=range]::-moz-range-thumb {
    width: 10px;
    height: 100%;
    background: #7c7c7c; 
}

#sliderContainer {
    position: relative;
    width: 100%;
    height: 20px;
    margin-bottom: 24px;
}

#sizeSlider {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#reactorSize {
    width: 100%;
    height: 100%;
    line-height: 20px;
    text-align: center;
    background-color: #181818;
    color: rgb(255, 255, 255);
}

#comboStats, #glassToggle {
    box-sizing: border-box;
    padding: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#coolerSelection {
    display: flex;
    flex-wrap: wrap;
}

#coolerSelection * {
    margin: 4px 6px;
}

#reactorCooling, #glassToggleWrapper {
    padding-left: 8px;
}

#costBreakdown {
    padding-left: 8px;
    height: 25%;
}

#comboStats div {
    width: 100%;
}

#sidebar ul {
    list-style-type: none;
    padding-left: 6px;
    margin-bottom: 0;
    margin-top: 4px;
}

p {
    margin-bottom: 0;
    margin-top: 4px;
}

.red {
    color: rgb(216, 64, 64);
}

.green {
    color: rgb(69, 255, 69);
}

#comboStats li, #comboStats p {
    font-size: 10px;
}

#costBreakdown img {
    width: 32px;
    height: 32px;
}

#resetCamera {
    top: 96px;
}

button {
    background: transparent;
    border: none;
    width: 100%;
    color: white;
}

button:hover {
    cursor: pointer;
    font-weight: bold;
}

.canvasButton {
    width: fit-content;
    top: 64px;
    right: 0;
    position: absolute;
    background: transparent;
    border: none;
    color: white;
}

.canvasButton:hover {
    cursor: pointer;
    font-weight: bold;
}

#womwowmwomwomwomwomwowm {
    height: 32px;
}

#reactorExport button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#reactorExport img {
    width: 32px;
    height: 32px;
    margin-left: 8px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    height: 100%;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    text-decoration: none;
}

footer a:not(:last-child) {
    border-right: 0.5px solid white;
}

footer img {
    height: 100%;
    image-rendering: auto;
    margin: 0 8px;
}

#instructionsDialog, #exportDialog {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    z-index: -4;
    background-color: #2a3030;
    padding-right: 20px;
    font-size: medium;
}

#instructionsDialog {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#instructionsDialog * {
    margin-bottom: 12px;
    font-size: medium;
}

#exportDialog {
    padding: 12px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

#exportDialog div {
    display: flex;
    justify-content: center;
    justify-items: center;
}

#exportDialog button, #instructionsDialog button {
    margin: 16px 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: fit-content;
    font-size: medium;
    border: white 2px solid;
}


#darkOverlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -5;
}
