html, body {
    margin: 0;
    height: 100%;
 }

body {
    display: flex;
    flex-direction: column;
}

header, footer {
    height: 5vh;
}

#container {
    height: 90vh;
}

#sidebar {
    height: inherit;
    width: 25%;
    position: absolute;
    background-color: black;
}

canvas {
    height: 100%;
    width: 75%;
    display: block;
    float: right;
}